:root {
	--bg-blue: #255c7d;
	--primary: #1f82be;
}

html {
	font:
		1em/1.5 helvetica,
		Noto Sans CJK SC,
		Microsoft Yahei,
		Hiragino Sans GB,
		arial,
		sans-serif;
	color: #111;
}
body {
	margin: 0;
	background-color: #eee;
}
header,
main,
section,
nav,
footer,
hgroup,
figure,
summary {
	display: block;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: none;
}
a img {
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1.5rem;
	color: #444;
}
h1 {
	font-size: 2.25rem;
	line-height: 1.33333;
}
h2 {
	font-size: 1.875rem;
	line-height: 1.4;
}
h3 {
	font-size: 1.5rem;
	line-height: 1.5;
}
h4 {
	font-size: 1.25rem;
	line-height: 1.5;
}
h5 {
	font-size: 1rem;
	line-height: 1.5;
}
h6 {
	font-size: 0.875rem;
	line-height: 1.5;
}
b,
strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
hr {
	margin-bottom: 1.5rem;
	border: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}
mark {
	color: #000;
	background-color: rgb(35, 237, 35);
}
p {
	margin: 0 0 1rem;
}
ul,
ol {
	padding-left: 2rem;
	margin: 1rem 0;
}
p code {
	padding: 0.1em 0.5em;
	border: 1px solid #ddd;
	background-color: #eef;
}
pre * {
	font-family: "Consolas", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
		monospace;
	letter-spacing: 0.015em;
	line-height: 120%;
}

pre.lineno {
	margin-right: 1rem;
	color: #666;
	text-align: right;
}

.clearfix:after {
	content: "\0020";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.container {
	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#head {
	margin-bottom: 2.5rem;
	background-color: var(--bg-blue);
	color: #fff;
}

#logo {
	float: left;
}
a.logo-text {
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
a.logo-text:hover {
	text-shadow: 2px 2px 2px #000;
}
#nav {
	float: right;
	padding-top: 0.56rem;
}
.nav-list a {
	display: inline-block;
	line-height: 2rem;
	margin-left: 1rem;
	color: #fff;
}

.page-list li {
	margin-bottom: 0.4rem;
}
.page-list .category-tag {
	margin-right: 0.3rem;
}
.page-list .date {
	font-size: 0.9rem;
	color: #999;
	margin-left: 0.5rem;
}
#foot {
	padding: 0.2rem 0;
	color: #666;
	margin-top: 2rem;
	font-size: 14px;
}

#foot a{
	color: #666;
}

.art-con img {
	margin: 1rem 0;
}
.art-date {
	color: #666;
}
.year-title {
	border-top: 1px solid #ccc;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	padding-top: 0.8rem;
}
.year-title:first-child {
	border-top: none;
}

.con-btm {
	margin-top: 30px;
}

.highlight {
	margin: 10px 0;
	padding: 10px;
	overflow: auto;
	font-size: 14px;
}

.highlight pre {
	margin: 0;
}
