[submodule "lab/canvas-tool"]
	path = lab/canvas-tool
	url = https://github.com/oodzchen/canvas-tool.git
[submodule "lab/canvas-gravity-simulation"]
	path = lab/canvas-gravity-simulation
	url = https://github.com/oodzchen/canvas-gravity-simulation.git
[submodule "lab/cnodejs-ngmd"]
	path = lab/cnodejs-ngmd
	url = https://github.com/oodzchen/cnodejs-ngmd.git
