---
layout: layout
---

<div id="content">
	<main class="container">
		<div class="list-box">
			<article>
				<header class="art-head">
					<h2>{{ page.title }}</h2>
					<p class="info"><span class="art-date">{{ page.date | date: "%B %e, %Y" }}</span></p>
				</header>
				<div class="art-con">
					{{ content }}
				</div>
			</article>

		</div>

		<div class="con-btm">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'oodzchenblog';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

		</div>

	</main>
</div>